.App {
  min-height: 100vh;
}

.flexbox-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  background: #212121;
  color: #FFF;
}

.flexbox-wrapper div {
  padding: 5px;
  /* background: green; */
}

.flexbox {
  display: flex;
  width: 100%;
}

.start, .end {
  width: fit-content;
  flex-grow: 0;
  background-color: grey;
}

.middle-flex-1 {
  flex-grow: .5;
  background-color: black;
}
.middle-flex-2 {
  flex-grow: 1;
  background-color: blue;
}